body {
    background-color: lightcyan;
}

#title_text {
    font-size:36px;
    color: black;
}

#open_para{
    font-size:28;
    color: black;
}

#input_text
{
    font-size:24;
}

p {
    font-size:24;
}
